a{
	color:#d85a1a; 
	text-decoration:underline; 
}

a[href=""]{
	color:#888;
}







.percentInput {	
	width:40px;
}

.ac_results {	
	z-index:30;
	padding: 0px;	
	border: 1px solid #7FB7FB;	
	overflow: hidden; 
	background-color: #AFD2FD;
}

.ac_results li {	
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;	
	display: block;	
	width: 100%;
	font: menu;
	font-size: 12px;	
	overflow: hidden; 
}

.ac_results iframe {	
	display:none;/*sorry for IE5*/	
	display/**/:block;/*sorry for IE5*/	
	position:absolute;	
	top:0;	
	left:0;	
	z-index:-1;	
	filter:mask();	
	width:3000px;	
	height:3000px; 
}

.ac_results ul {	
	width: 100%;	
	list-style-position: outside;
	list-style: none;	
	padding: 0;	
	margin: 0;
}

.ac_loading {	
	background : #AFD2FD url('img/loader.gif') right center no-repeat;
}

.ac_over {	
	background-color: white;
	color: black;
}

thead td.sortable{
		text-decoration:underline;
		cursor: pointer;
	}


body{
	margin:0;
	font-size:11pt;
	font-family:"arial";
}

#content{
	width:*;
	height:*;
	vertical-align:top;
}

#contentframe{
	padding:20px;
	width:100%;
}

#contentframe td{
	vertical-align:top;
}

a.deactLink:link {color:#999999;}      /* unvisited link */
a.deactLink:visited {color:#999999;}  /* visited link */
a.deactLink:hover {color:#888888;}  /* mouse over link */
a.deactLink:active {color:#999999;}  /* selected link */



.Black {
	background-image: -ms-linear-gradient(top, #000000 -25%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(top, #000000 -25%, #FFFFFF 100%);
	background-image: -o-linear-gradient(top, #000000 -25%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(top left, #000000 -25%, #FFFFFF 100%);
	background-image: linear-gradient(top left, #000000 -25%, #FFFFFF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.25,#000000), color-stop(1,#FFFFFF));
	font-weight:bold;
	color:#CCC;
}

.datatable{
	
	border-collapse:collapse;
	font-size:12px;
	color:#333;
	border:4px double #ccc;
	width:100%;
	background-color:#ffffff;
}
.datatables{
	
	border-collapse:collapse;
	font-size:12px;
	color:#333;
	border:4px double #ccc;
	width:50%;
	background-color:#ffffff;
}

.datatable caption{
	text-align: left;
	font-size: 11pt;
}

.datatable td{
	padding:5px;
	vertical-align:top;
	border-bottom:1px solid #eee;
}

.datatable thead{
	background-color:#efefef;
	font-weight: bolder;
}

.delayedlate{
	background-image: -ms-linear-gradient(top, #FF9900 -50%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(top, #FF9900 -50%, #FFFFFF 100%);
	background-image: -o-linear-gradient(top, #FF9900 -50%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(top left, #FF9900 -50%, #FFFFFF 100%);
	background-image: linear-gradient(top left, #FF9900 -50%, #FFFFFF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.5,#FF9900), color-stop(1,#FFFFFF));
	font-weight:bold;
}

div.extra{
	border:1px solid grey;
	margin:3px;
	padding:3px;
	width:100%;
}

div.extra table#details{
	width:100%;
}

div.extra table#details td{
	width:30%;
}

h1{
	font-size:22px;
	text-indent:120px;
}

h2{
	font-size:16px;
}

#head{
	background-image: -ms-linear-gradient(top, #666666 -50%, #222222 100%);
	background-image: -moz-linear-gradient(top, #666666 -50%, #222222 100%);
	background-image: -o-linear-gradient(top, #666666 -50%, #222222 100%);
	background-image: -webkit-linear-gradient(top left, #666666 -50%, #222222 100%);
	background-image: linear-gradient(top left, #666666 -50%, #222222 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.5,#666666), color-stop(1,#222222));
	
	
	color:#FFFFFF;
	font-size:24pt;
	font-family:"Arial";
	text-indent:150px;
	border:0px;
	width:100%;
	height:24px;
	font-weight:bold;
	vertical-align:middle;
}

#head a#title{
	color:#FFFFFF;
	text-decoration:none;
}
 
#head td#last{
	text-align:right;
	font-size:10pt;
	padding:5px;
	width:*;
}

.hidden{
	display: none;
}


.new{
	background-color: #E1EFBB;
}


.Interested {
	background-image: -ms-linear-gradient(top, #FFFF00	-50%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(top, #FFFF00	-50%, #FFFFFF 100%);
	background-image: -o-linear-gradient(top, #FFFF00	-50%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(top left, #FFFF00	-50%, #FFFFFF 100%);
	background-image: linear-gradient(top left, #FFFF00	-50%, #FFFFFF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.5,#FFFF00), color-stop(1,#FFFFFF));
	font-weight:bold;
}


.late{
	background-image: -ms-linear-gradient(top, #cc0000 -50%, #f76c6c 100%);
	background-image: -moz-linear-gradient(top, #cc0000 -50%, #f76c6c 100%);
	background-image: -o-linear-gradient(top, #cc0000 -50%, #f76c6c 100%);
	background-image: -webkit-linear-gradient(top left, #cc0000 -50%, #f76c6c 100%);
	background-image: linear-gradient(top left, #cc0000 -50%, #f76c6c 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.5,#cc0000), color-stop(1,#f76c6c));
	font-weight:bold;
	color:#CCC;
}

.late a{
	color:white;
}

.logo{
	position:absolute;
	left:40px;
	top:0px;
}

#main{
	border:0px; 
	width:100%;
	height:89%;
	background-color:#DEDAD4;
	padding:0px;
}
 
#menubar{
	border:0px;
	width:100%;
	background-color:#000000;
	color:#FFFFFF;
	font-family:arial;
	font-size:12px;
}

#menubar table{
	color:#FFFFFF;
	font-family:arial;
}

#menubar table td#first{
	text-indent:150px;
}

.N{
	background-image: -ms-linear-gradient(top, #F99900 -50%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(top, #F99900 -50%, #FFFFFF 100%);
	background-image: -o-linear-gradient(top, #F99900 -50%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(top left, #FF9900 -50%, #FFFFFF 100%);
	background-image: linear-gradient(top left, #F99900 -50%, #FFFFFF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.5,#F99900), color-stop(1,#FFFFFF));
	font-weight:bold;
}

.Orange {
	background-image: -ms-linear-gradient(top, #FF9900 -50%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(top, #FF9900 -50%, #FFFFFF 100%);
	background-image: -o-linear-gradient(top, #FF9900 -50%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(top left, #FF9900 -50%, #FFFFFF 100%);
	background-image: linear-gradient(top left, #FF9900 -50%, #FFFFFF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.5,#FF9900), color-stop(1,#FFFFFF));
	font-weight:bold;
}

.popup{
	border:2px solid black;
	width:450px;
	position:fixed;
	left:30%;
	top:10%;
	padding:30px;
	background-color:#FFFFFF;
	text-align:center;
	z-index:2;

}

.ganttpopup{
	border:2px solid black;
	width:450px;
	position:absolute;
	left:30%;
	top:10%;
	padding:30px;
	background-color:#FFFFFF;
	text-align:center;
	z-index:2;

}
		
.popup table{
	font-family:arial;
	font-size:10pt;
	width:100%;
}

.popup table td{
	width:50%;
}

#rightsidebar{
	border:0px; 
	width:30%;
	height:100%;
	vertical-align:top;
}

#submenu{
	font-family:verdana;
	font-size:8pt;
}

#submenu td#first{
	text-indent:150px;
}

#submenu a{
	color:#000000;
}

table#info{
	width:100%;
}

table#info > tbody > tr > td, table#info > tr > td{
	width:50%;
}

tr[id*="row2entryid"]{
	border-bottom:2px solid lightGrey;
}

.unavailable{
	background-image: -ms-linear-gradient(top, #808080 -50%, #C0C0C0 100%);
	background-image: -moz-linear-gradient(top, #808080 -50%, #C0C0C0 100%);
	background-image: -o-linear-gradient(top, #808080 -50%, #C0C0C0 100%);
	background-image: -webkit-linear-gradient(top left, #808080 -50%, #C0C0C0 100%);
	background-image: linear-gradient(top left, #808080 -50%, #C0C0C0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.5,#808080), color-stop(1,#C0C0C0));
	font-weight:bold;
}

.upcoming{
	background-image: -ms-linear-gradient(top, #FFFF33 -50%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(top, #FFFF33 -50%, #FFFFFF 100%);
	background-image: -o-linear-gradient(top, #FFFF33 -50%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(top left, #FFFF33 -50%, #FFFFFF 100%);
	background-image: linear-gradient(top left, #FFFF33 -50%, #FFFFFF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.5,#FFFF33), color-stop(1,#FFFFFF));
	font-weight:bold;
}

@media only screen and (max-width: 1000px){
	.datatable td{
		font-size: 10px;
	}
	
	.imprecinfo{
		clear:both;
	}
}

@media only screen and (max-width: 1300px){
	#rightsidebar{
		width: 40%;
	}
}